/*
	Title: Common extra CSS for code.kx.com in MkDocs
	Author: stephen@kx.com
	Version: 2021.01.24
 */

/* countermand MkDocs insertion of href attribute after link anchor
--------------------------------------------- */
@media print {
  a[href]:after {
    content: none !important;
  }
}

 /* palette assumes MkDocs theme accent/primary is pink/black
--------------------------------------------- */
[data-md-color-primary=black] .md-header,
[data-md-color-primary=black] .md-container .md-hero,
[data-md-color-primary=black] .md-tabs {
 	background: #101820;
}
 /* override accent background colour on repo download and star buttons */
.scrollable .wrapper .repo a {
 	background: #F23A66;
}
 /* override theme link colors */
[data-md-color-primary=pink] .md-typeset a {
 	color: #0061FF; 
}
[data-md-color-primary=pink] .md-typeset a:hover,
a.md-nav__link.md-nav__link--active {
  color: #F23A66;
}

/* TEXT HIGHLIGHTING - KX Yellow: #FFC300 */
::selection {
    background: rgba(295,195,0,.3); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: rgba(295,95,0,.3); /* Gecko Browsers */
}


/* type
--------------------------------------------- */
/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;800&display=swap');*/
@font-face {
  font-family: euclid;
  /*src: url(/fonts/euclid-square-italic.woff);*/
  src: url(../fonts/euclid-square-italic.woff);
  font-style: italic;
}
@font-face {
  font-family: euclid;
  /*src: url(/fonts/euclid-square-bold.woff);*/
  src: url(../fonts/euclid-square-bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: euclid;
  /*src: url(/fonts/euclid-square.woff);*/
  src: url(../fonts/euclid-square.woff);
}

@font-face {
  font-family: Inconsolata;
  /*src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf');*/
  src: url('../fonts/Inconsolata-VariableFont_wdth,wght.ttf');
}

body, input, 
article h1, article h2, article h3, 
.wp-author, #wp-brand, .publications, .admonition-title,
article details>summary {
  font-family: euclid, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset code,
.md-typeset pre {
  font-family: Inconsolata,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}

.md-typeset a>code {
	padding: 0 .15em;
}

/* undo font-size:85% code */
.md-typeset code,
.md-typeset .admonition pre {
 	font-size: 1em;
}

.nowrap {
	white-space: nowrap;
}

/* MARGIN TITLE & NAV TITLE - Euclid Square Bold UPPERCASE 9/12pt */
.md-nav__title {
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.5;
  padding-bottom: .8em;
  text-transform: uppercase;
}

/* tweak Prism.js styles 
--------------------------------------------- */
.md-typeset code[class*="language-"],
.md-typeset pre[class*="language-"] {
  background-color: #eee7d4;
	font-size: .9em;
}
.md-typeset pre code[class*="language-q"],
.md-typeset pre code[class*="language-txt"],
.md-typeset pre[class*="language-q"],
.md-typeset pre[class*="language-txt"] {
  background-color: #fdf6e3;
}

/* match Prism code blocks */
.md-typeset code {
	background-color: #fdf6e3;
}
.md-typeset .admonition code {
	background-color: transparent;
}

.md-typeset .admonition pre[class*="language-"] {
	padding: 0;
}
/* inline code elements */
.md-content code {
	background-color: transparent;
	box-shadow: none;
}

/* Fixed-font block elements
---------------------------------------------------------------------------- */
div.typewriter p {
  background-color: #fdf6e3;
  font-family: Inconsolata,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  font-size: 80%;
  font-weight: 500;
  margin: 0;
  padding: 1em;
  white-space: pre-wrap;
}
div.typewriter a {
  background-color: #fdf6e3;
}
div.typewriter strong {
  font-weight: : 800;
}

 /* No background in code block within admonition */
.md-typeset .admonition pre {
  background-color: transparent;
  margin-top: 0;
}


/* Material button (thanks to Kx Dashboards)
--------------------------------------------- */
.material-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    /*color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));*/
    background-color: #2F80ED;
	  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
	  color: #efefef !important;
	  /*background-color: #005499;*/
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.material-button::-moz-focus-inner {
    border: none;
}

/* Overlay */
.material-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.material-button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.material-button:hover,
.material-button:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 
                0 4px 5px 0 rgba(0, 0, 0, 0.14), 
                0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-button:hover::before {
    opacity: 0.08;
}

.material-button:focus::before {
    opacity: 0.24;
}

.material-button:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.material-button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

.material-button.download {
	height: auto;
	text-transform: none;
    padding: 8px 24px;
    user-select: none;
}

.material-button.download > span {
	height: auto;
	display: block;
	line-height: normal;
}

.material-button.download > .os {
	padding: 2px 0 0 0;
	margin: 0;
}

/* Download form (thanks to Kx Dashboards)
---------------------------------------------------------------------------- */
.download-form  *, :before, :after {
  box-sizing: border-box;
}
.download-form  {
  width: 320px;
  margin: 40px auto;
}

.download-form .group {
  position: relative;
  margin: 40px 0;
}
.download-form input[type=text],
.download-form input[type=email],
.download-form select {
  background: #f0f0f0;
  font-size: 18px;
  padding: 20px 16px 6px 16px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}

.download-form select {
  background: #f0f0f0;
}

.download-form input[type=text]:hover,
.download-form input[type=email]:hover,
.download-form select:hover  {
    background: #e8e8e8;
    outline: none;
    border-bottom: 1px solid #999;
}

.download-form input[type=text]:focus,
.download-form input[type=email]:focus,
.download-form select:focus {
    background: #e0e0e0;
    outline: none;
}
.download-form input:focus ~ label,
.download-form input:not(:placeholder-shown) ~ label,
.download-form div:first-child input:placeholder-shown:focus ~ label,
.download-form input:valid ~ label {
  top: 2px;
  font-size: 12px;
  color: #2196F3;
}

.download-form input:not(:placeholder-shown):invalid {
  background-color: #fee;
  border-color: red;
}

.download-form label,
.download-form div:first-child input:placeholder-shown ~ label,
.download-form ~ .select-label {
  color: rgba(0,0,0,.65);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 12px;
  transition: top 150ms cubic-bezier(0.4, 0, 0.2, 1),
              color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.download-form .bar {
  position: relative;
  display: block;
  width: 320px;
}
.download-form .bar:before, .download-form .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2F80ED;
  transition: 0.2s ease all;
}
.download-form .bar:before {
  left: 50%;
}
.download-form .bar:after {
  right: 50%;
  /* active state */
}

.download-form .group .bar{
    margin-top: 1px;
}

.download-form input:focus ~ .bar:before, .download-form input:focus ~ .bar:after,
.download-form select:focus ~ .bar:before, .download-form select:focus ~ .bar:after {
  width: 50%;
}

.download-form select {
  position: relative;
  font-family: inherit;
  width: 320px;
  padding: 20px 16px 6px 16px;
  font-size: 18px;
}
.download-form select:focus {
  outline: none;
}

.download-form select {
  appearance: none;
  -webkit-appearance: none;
}

.download-form .select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

.download-form select:focus ~ .select-label, 
.download-form select:valid ~ .select-label {
  color: #2F80ED;
  top: 2px;
  font-size: 12px;
}

.download-form .select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

