/*
	Title: Extra CSS for code.kx.com in MkDocs
	Author: stephen@kx.com
 */

/* countermand MkDocs insertion of href attribute after link anchor
--------------------------------------------- */
@media print {
  a[href]:after {
    content: none !important;
  }
}

 /* palette
--------------------------------------------- */
 [data-md-color-primary=blue] .md-header
 {
 	background: #0070cd; /* hsl(207, 100%, 40%) */
 }
 /* override accent background colour on repo download and star buttons */
.scrollable .wrapper .repo a {
 	background: #8099fd;
 }
 /* override theme link color */
 [data-md-color-primary=blue] .md-typeset a {
 	color: #005499; /* hsl(207, 100%, 30%) */
 }
 
/* suppress nav footer
--------------------------------------------- */
.md-footer-nav {
	display: none;
}

/* type
--------------------------------------------- */
/* Override "Roboto Mono" from theme */
code, kbd, pre {
	font-family: Courier, "Courier New", monospace;
}
.md-typeset a>code {
	padding: 0 .15em;
}

/* undo font-size:85% code */
.md-typeset code,
.md-typeset .admonition pre {
 	font-size: 95%;
 }

/* admonition
--------------------------------------------- */
.md-typeset .admonition p {
	margin: .3em 0;
}
.md-typeset .admonition pre {
	background-color: transparent;
	margin-top: 0;
}

/* front page
--------------------------------------------- */
.kx-flex-grid {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: center;
}
.kx-flex-grid div {
	display: inline-flex; 
	padding: 5px 0;
	text-align: center; 
	width: 200px;
}
.kx-flex-grid a {
	color: #0070cd;
}

/* reference card
--------------------------------------------- */
 .kx-big {
 	font-size: 115%;
 }
 .kx-nowrap {
 	white-space: nowrap;
 }
 .kx-ruled td {
 	border-bottom: 1px solid rgba(0,0,0,.05);
 }
 .kx-tight td,
 .kx-tight th {
 	padding: 0 .4em;
 }
 .kx-tight th {
 	background-color: rgba(0,0,0,.54);
 	color: white;
 	text-align: left;
 }
 .kx-tight thead {
 	border-bottom: 1px solid #aaa;
 }

.kx-shrunk {
 	font-size: 85%;
 }

.kx-compact td,
.kx-compact th {
	font-size: .8em;
	padding: .4em;
	text-align: left;
}
.kx-compact th {
	background-color: rgba(0,0,0,.54);
	color: #FFF;
}
.kx-compact td {
	border-top: .1rem solid rgba(0,0,0,.07);
}
.kx-compact table tr:first-child {
	border-top: 0;
}
.kx-list td {
	font-size: 1.1em;
	padding: .5em 1em;
}

.kx-zero {
	border: none;
	margin: 0;
	padding: 0;
}

.nowrap {
	white-space: nowrap;
}

