{% extends "base.html" %}
{% block content %}
  <h1>401 - Authorization required</h1>
  
  <p>
    <a href="https://code.kx.com/refinery/index.html">Kx Data Refinery</a>
    is a licensed software product.
  </p>

  <p>
    If you are a licensed customer, please ask your 
    <a href="https://code.kx.com/q/support/#licensed-customers">Designated Contact</a>
    for credentials to access the User Guides.
  </p>

  <p>
    Sales inquiries to <a href="mailto:sales@kx.com">sales@kx.com</a>
  </p>


{% endblock %}
