{% extends "base.html" %}
{% block content %}
  <h1>404 - Not found</h1>
  <p>
  	Google Search indexed the old wiki for over 20 years:
    perhaps you arrived here on an old URL.
  	Here are answers to the most popular queries Google used to refer to the wiki.
  </p>

  <table>
    <tr>
      <td>
        <ol>
        	<li><a href="https://code.kx.com/v2/ref/handles/"><code>hopen</code></a></li>
        	<li><a href="https://code.kx.com/v2/basics/datatypes/">datatype</a></li>
        	<li><a href="https://code.kx.com/v2/ref/type/"><code>type</code></a></li>
        	<li><a href="https://code.kx.com/v2/ref/dotq/#qdpft-save-table"><code>.q.dpft</code></a></li>
        	<li><a href="https://code.kx.com/v2/ref/file-text/#load-csv">read csv</a></li>
        </ol>
      </td>
      <td>
        <ol>
          <li value="6"><a href="https://code.kx.com/v2/ref/vs/"><code>vs</code></a></li>
          <li><a href="https://code.kx.com/v2/ref/if/"><code>if</code></a></li>
          <li><a href="https://code.kx.com/v2/ref/get/#set"><code>set</code></a></li>
          <li><a href="https://code.kx.com/v2/ref/sv/"><code>sv</code></a></li>
          <li><a href="https://code.kx.com/developer/">Kx Developer</a></li>
        </ol>
      </td>
      <td>
        <ol>
          <li value="11"><a href="https://code.kx.com/v2/ref/asof/"><code>asof</code></a></li>
          <li><a href="https://code.kx.com/v2/basics/control/#conditional-evaluation">if else</a></li>
          <li><a href="https://code.kx.com/v2/ref/like/"><code>like</code></a></li>
          <li><a href="https://code.kx.com/v2/ref/maps/#each"><code>each</code></a></li>
          <li><a href="https://code.kx.com/v2/ref/dict/">dictionary</a></li>
        </ol>
      </td>
      <td>
        <ol>
          <li value="16"><a href="https://code.kx.com/v2/wp/java-api/#kdb-tickerplant-overview">tickerplant</a></li>
          <li><a href="https://code.kx.com/v2/ref/lj/">left join</a></li>
          <li><a href="https://code.kx.com/v2/basics/precision/">round</a></li>
          <li><a href="https://code.kx.com/v2/ref/wj/">window join</a></li>
          <li><a href="https://github.com/CharlesSkelton/studio/">studio</a></li>
        </ol>
      </td>
    </tr>
  </table>

  <p>
    The Cookbook is now the <a href="https://code.kx.com/v2/kb/">Knowledge Base</a>.
  </p>

{% endblock %}
